.combined{
    display: flex;
    justify-content: space-between;

}
.coin-detail{
    padding-left: 100px;
    padding-top: 30px;
    margin-right: 50px;
    width: 50%;
}
.time{
    font-weight: bold;
}
.coin-image{
    margin-top: 60px;
}
.coin-name{
    font-weight: bold;
    font-size: 27px;
    margin-top: 45px;
}
.coin-price{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
.coin-profit{
    margin-top: 10px;
    margin-left: 7px;
}
.market-rank{
    font-weight: bold;
    font-size: 27px;
    margin-top: 20px;
    margin-left: 5px;
}
.coin-desc p{
    margin-top: 30px;
}

.coin-desc {
    width: 20rem;
}
.btn button{
    height:2rem ;
    background-color: orange;
    border: none;
    width: 5rem;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
}
